<a href="https://colab.research.google.com/github/MasWap/Data_science/blob/main/02_Pandas_finit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Panda Avancé

Dans cet exercice, nous allons explorer les opérations ensemblistes que nous pouvons appliquer  sur les dataframes
* La projection et la restriction
* Les opérations ensemblistes (union, différence, intersection)
* Le produit cartésien
* Les jointures
* L'agrégation

In [ ]:
# Importer le fichier pays.csv
import pandas as pd
data = pd.read_csv("pays.csv", sep=";")
data.head()

         etat  population    area
0  California    38332521  423967
1       Texas    26448193  695662
2    New York    19651127  141297
3     Florida    19552860  170312
4    Illinois    12882135  149995

## Exercice 1

### 1.1.  La projection et la restriction

Commençons par 2 opérations de l'algèbre relationnelle :
* la projection est une sélection de certaines colonnes.
* la restriction est une sélection de certaines lignes.

In [ ]:
print(data)

In [ ]:
# Faire une projection sur la colonne area
data["area"]

In [ ]:
# Faire une restriction sur la ligne =1
data.iloc[1]

### 1.2. L'union

L'union se fait grâce à la fonction pd.concat

Unir deux tableaux, c'est créer un troisième tableau qui contient toutes les lignes du premier et du second.

In [ ]:
# Importer le fichier pays2 et le concaténer avec pays1
data2 = pd.read_csv("pays2.csv", sep=";")
pd.concat([data, data2])

Par défaut,  pd.concat  assemble ses arguments "verticalement".  Pour changer ce comportement, on peut utiliser l'argument  axis.

<span style="color:blue">QUESTION : que pensez vous des indices ?</span>
<span style="color:red">XXXXXXXXX</span>

### 1.3. La jointure

#### 1.3.1 Principe


Une autre fonction très utile pour manipuler les Dataframe est  pd.merge qui effectue une jointure.
Une jointure, c'est assembler les informations d'un tableau A avec celles d'un tableau B selon un critère appelé <span style="color:blue">condition de jointure</span>.
Ce critère est composée de une ou plusieurs colonnes <span style="color:blue">communes</span> à A et B.

Un petit exemple. Imaginons que nous disposons de deux Dataframes :
* df1  contenant une liste d'employés et le nom des départements dans lequel ils travaillent,
* df2  contenant la même liste d'employés et leurs dates d'entrée dans l'entreprise.

La fonction  _pd.merge_  permet de transformer ces deux Dataframes en un seul, contenant les deux informations.

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'department': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df1

In [ ]:
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'date': [2004, 2008, 2012, 2014]})
df2

In [ ]:
df3 = pd.merge(df1, df2)
df3

La fonction  pd.merge  a automatiquement reconnu que la colonne employee était commune aux deux Dataframes, et l'a utilisée comme condition de jointure.
Mais si ces 2 colonnes avaient eu des noms différents (par exemple employee sur df1 et emp_name sur df2),
 alors il aurait fallu écrire ceci : df3 = pd.merge(df1, df2, left_on= "employee", right_on= "emp_name")

#### 1.3.2 Les cardinalités

Il y a 3 cardinalités différentes :
* Un-à-un  : une ligne  du tableau A correspond à une unique ligne du tableau B  et une ligne de B correspond à une unique ligne du tableau A.
* Un-à-plusieurs :  une ligne quelconque de A correspond à une ligne de B,  mais une ligne de B peut correspondre à plusieurs lignes de A.
* Plusieurs-à-plusieurs (many-to-many) :  une ligne de A peut correspondre à plusieurs lignes de B, et une ligne de B peut correspondre à plusieurs lignes de A.

Selon la cardinalité, le comportement de la jointure ne sera pas le même

#### Cardinalité un-à-un
L'exemple que nous avons pris tout à l'heure correspond à une cardinalité un-à-un.
En effet, un employé ne travaille que dans un seul département, et n'a qu'une seule année d'embauche.

#### Cardinalité un-à-plusieurs (ou plusieurs-à-un)
Chaque département a désormais un un chef.
Un employé n'a qu'un seul chef, mais un chef peut diriger plusieurs empoyés.

In [ ]:
df4 = pd.DataFrame({'department': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
pd.merge(df3, df4)

<span style="color:blue"> QUESTION : Que remarquez vous dans la colonne supervisor ? </span>
<span style="color:red">XXXXXXXXX</span>

#### Cardinalité plusieurs-à-plusieurs

df5 contient les compétences nécessaires pour travailler dans chaque département :
Un employé a besoin de plusieurs compétences, et une compétence peut être partagée par plusieurs employés.

In [ ]:

df5 = pd.DataFrame({'department': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'competence': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})

pd.merge(df1, df5)

<span style="color:blue"> QUESTION : Comment interprétez vous les nouvelles lignes. </span>
<span style="color:red">XXXXXXXXX</span>

### 1.4. L'agrégation

Pandas  permet d'accomplir une agrégation par groupe, semblable à ce qu'on peut obtenir  en utilisant le mot clé  GROUP BY en SQL.

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': [10,11,10,9,10,10]})
print(df)

Dans Pandas, cette opération se fait en deux étapes.
Nous allons d'abord créer un objet de type  DataFrameGroupBy  , que nous appelons  gb  :

In [ ]:
gb = df.groupby('key')

La (les) colonne(s) données dans groupby s'appelle(nt) l' (les) attribut(s) de partitionnement.

Sur cet objet gb, on peut ensuite appliquer les fonctions d'agrégation :

In [ ]:
print(gb.sum())
print(gb.mean())

## Exercice 2

In [3]:
# Import des données
import pandas as pd
df = pd.read_csv("Immobilier.csv", sep=";")
df.head()

      Mois  Annee  PrixM2  PrixM2Maisons  PrixM2Appartements  PrixM2Terrains
0  Janvier   2015    3339           3331                3347             307
1  Fevrier   2015    3198           3518                3479             350
2     Mars   2015    2942           2913                2972             292
3    Avril   2015    2945           3163                2728             314
4      Mai   2015    3282           3193                3371             405

<span style="color:blue"> QUESTION : Trouver le nombre de lignes et colonnes de cette table (utiliser shape)</span>

In [6]:
nb_lignes, nb_colonnes = df.shape
print("Nombre de lignes :", nb_lignes)
print("Nombre de colonnes :", nb_colonnes)

Nombre de lignes : 84
Nombre de colonnes : 6

<span style="color:blue"> QUESTION : Lister les noms des colonnes (utiliser columns) </span>

In [33]:
df.columns.tolist()

['Mois',
 'Annee',
 'PrixM2',
 'PrixM2Maisons',
 'PrixM2Appartements',
 'PrixM2Terrains']

<span style="color:blue"> QUESTION : Quels sont les types des données dans les colonnes? (utiliser dtype)</span>

In [31]:
mes_data = df.dtypes
print(mes_data)

Mois                  object
Annee                  int64
PrixM2                 int64
PrixM2Maisons          int64
PrixM2Appartements     int64
PrixM2Terrains         int64
dtype: object

<span style="color:blue"> QUESTION : Trouver des infos sur chaque colonne (utiliser info)</span>

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mois                84 non-null     object
 1   Annee               84 non-null     int64
 2   PrixM2              84 non-null     int64
 3   PrixM2Maisons       84 non-null     int64
 4   PrixM2Appartements  84 non-null     int64
 5   PrixM2Terrains      84 non-null     int64
dtypes: int64(5), object(1)
memory usage: 4.1+ KB

<span style="color:blue"> QUESTION : Afficher la colonne mois</span>

In [25]:
df['Mois']

0       Janvier
1       Fevrier
2          Mars
3         Avril
4           Mai
        ...
79         Août
80    Septembre
81      Octobre
82     Novembre
83     Décembre
Name: Mois, Length: 84, dtype: object

<span style="color:blue"> QUESTION : Afficher la colonne mois et la colonne année</span>

In [ ]:
# Version structurée

df[['Mois', 'Annee']]

<span style="color:blue"> QUESTION : Afficher les caractéristiques de la colonne PrixM2 (utiliser describe) </span>

In [52]:
df['PrixM2'].describe

<bound method NDFrame.describe of 0     3339
1     3198
2     2942
3     2945
4     3282
      ...
79    3024
80    3024
81    3024
82    3024
83    3024
Name: PrixM2, Length: 84, dtype: int64>

<span style="color:blue"> QUESTION : Lister les périodes (Annee+Mois), après 2014, pour lesquelles le prix au mettre carré est supérieur 3110</span>

In [74]:
dm = df[['Mois', 'Annee']].where((df['PrixM2'] > 3110) & (df['Annee'] > 2014)).dropna()
print(dm)

         Mois   Annee
0     Janvier  2015.0
1     Fevrier  2015.0
4         Mai  2015.0
5        Juin  2015.0
6     Juillet  2015.0
7        Août  2015.0
8   Septembre  2015.0
9     Octobre  2015.0
10   Novembre  2015.0
11   Décembre  2015.0

<span style="color:blue"> QUESTION : Dans cette liste, compter le nombre de mois par année</span>

In [79]:
dm.groupby('Annee')['Mois'].count()

Annee
2015.0    10
Name: Mois, dtype: int64

<span style="color:blue"> QUESTION : Dans cette liste, compter le nombre de mois concernés par mois</span>

In [82]:
dm.groupby('Mois')['Annee'].count()

Mois
Août         1
Décembre     1
Fevrier      1
Janvier      1
Juillet      1
Juin         1
Mai          1
Novembre     1
Octobre      1
Septembre    1
Name: Annee, dtype: int64

<span style="color:blue"> QUESTION : A partir de la liste initiale, afficher les informations pour les mois de juillet de chaque année</span>

In [83]:
df.where(df['Mois'] == "Juillet").dropna()

       Mois   Annee  PrixM2  PrixM2Maisons  PrixM2Appartements  PrixM2Terrains
6   Juillet  2015.0  3222.0         3237.0              3208.0          1103.0
18  Juillet  2014.0  3247.0         3180.0              3314.0           629.0
30  Juillet  2013.0  3258.0         3308.0              3209.0           431.0
42  Juillet  2012.0  2936.0         2889.0              2984.0           407.0
54  Juillet  2011.0  3070.0         3217.0              2924.0           665.0
66  Juillet  2010.0  2973.0         3105.0              2841.0           149.0
78  Juillet  2009.0  2917.0         2925.0              2909.0           463.0

<span style="color:blue"> QUESTION : Par mois, afficher le Prix au M2 moyen</span>

In [86]:
df.groupby('Mois').mean('PrixM2')

,Annee,PrixM2,PrixM2Maisons,PrixM2Appartements,PrixM2Terrains
Mois,,,,,
Août,2012.0,3141.428571,3140.142857,3143.285714,761.000000
Avril,2012.0,3115.428571,3167.714286,3057.857143,431.714286
Décembre,2012.0,3096.285714,3129.428571,3063.571429,666.142857
Fevrier,2015.0,3198.000000,3518.000000,3479.000000,350.000000
Février,2011.5,3070.166667,3098.833333,3041.833333,1111.500000
Janvier,2012.0,3120.571429,3135.571429,3106.000000,545.142857
Juillet,2012.0,3089.000000,3123.000000,3055.571429,549.571429
Juin,2012.0,3158.142857,3243.428571,3073.142857,536.571429
Mai,2012.0,3131.000000,3181.285714,3080.857143,482.142857
Mars,2012.0,3058.000000,3071.428571,3045.142857,457.857143
Novembre,2012.0,3066.571429,3058.000000,3075.714286,775.000000
Octobre,2012.0,3141.142857,3186.000000,3071.857143,549.857143
Septembre,2012.0,3114.714286,3130.142857,3199.571429,526.142857

<span style="color:blue"> QUESTION : Dans le tableau initial, trier les données selon la colonne PrixM2</span>

In [93]:
df.sort_values(by='PrixM2')

        Mois  Annee  PrixM2  PrixM2Maisons  PrixM2Appartements  PrixM2Terrains
46  Novembre   2012    2880           2913                2847             417
62      Mars   2010    2886           2996                2777             465
78   Juillet   2009    2917           2925                2909             463
65      Juin   2010    2927           3064                2791             665
48   Janvier   2011    2929           2990                2869             479
..       ...    ...     ...            ...                 ...             ...
11  Décembre   2015    3262           3179                3345             950
4        Mai   2015    3282           3193                3371             405
0    Janvier   2015    3339           3331                3347             307
51     Avril   2011    3370           3341                3360             421
77      Juin   2009    3422           3750                3095             421

[84 rows x 6 columns]

<span style="color:blue"> QUESTION : Trouver le prix M2 maximum</span>

In [97]:
df['PrixM2'].max()

3422

<span style="color:blue"> QUESTION : A quel mois ce prix maximum correspond il ?</span>

In [105]:
df.loc[df['PrixM2'].idxmax(), 'Mois']

'Juin'